<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Yelp Camp</title>
    </head>
    <body>
        <%- include("../partials/navbar") %> <%- include("../partials/flash") %>
        <main class="container"><%- body %></main>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
