<% layout("layouts/boilerplate") %>

<h1>Campground Show Page</h1>
<p>
    Name: <%= campground.title %>
    <br />
    Location: <%= campground.location %>
</p>
<form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
    <button>Delete camp</button>
</form>
<a href="/campgrounds/<%= campground.id %>/edit">Edit camp</a>
<a href="/campgrounds">Show all campgrounds</a>
